.aptitude-page {
  display: flex;
  flex-direction: column;
}

.aptitude-header {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.aptitude-content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
