.daily-coding-page {
  display: flex;
  flex-direction: column;
}

.daily-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.challenges-container {
  display: grid;
  grid-template-columns: 1.1fr 1.9fr;
  gap: 24px;
}
